<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<form id="edit-form" action="editBook.html" th:method="post" th:action="@{/editBook(id=${book.id})}" th:object="${book}">
    <h3>Book:</h3>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" value="1" th:value="*{id}"/>
    </div>

    <div class="row">
        <label for="title-input">Title:</label>
        <input id="title-input" name="title" type="text" value="Dolor sit amet" th:value="*{title}"/>
    </div>

    <div class="row">
        <label for="author-input">Author:</label>
        <select th:field="*{author.id}" id="author-input" form="edit-form">
            <option th:each="newAuthor : ${authors}"
                    th:value="${newAuthor.id}"
                    th:text="${newAuthor.fullName}"
                    th:attr="selected=${newAuthor.id == book.author.id}">
                Lorem Ipsum
            </option>
        </select>
    </div>

    <div class="row">
        <label for="genre-input">Author:</label>
        <select th:field="*{genre.id}" id="genre-input" form="edit-form">
            <option th:each="newGenre : ${genres}"
                    th:value="${newGenre.id}"
                    th:text="${newGenre.name}"
                    th:attr="selected=${newGenre.id == book.genre.id}">
                Lorem Ipsum
            </option>
        </select>
    </div>

    <div class="row">
        <button type="submit">Save</button>
        <a href="allBooks.html" th:href="@{/}"><button type="button">Cancel</button></a>
    </div>
</form>
</body>
</html>
